PROJECT_SLUG="bestdjangotemplate"
PROJECT_NAME="Best Django Template"
PROJECT_DESCRIPTION="A modular Django template with predefined models and reusable components, designed to streamline project development and scalability."
PROJECT_DOMAIN=localhost
PROJECT_PORT_NUMBER=8000
