{% extends 'base.html' %}
{% load fantasy_tags %}

{% block stylesheet %}
<style>body {text-align: justify}</style>
{% endblock %}

{% block title %}{{ flatpage.title }}{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item">Pages</li>
    <li class="breadcrumb-item">{{ flatpage.title }}</li>
{% endblock %}

{% block content %}
{% if request.user.is_superuser %}
  <a href="{% url 'admin:flatpages_flatpage_change' flatpage.id %}" class="btn btn-secondary mb-3">Düzenle</a>
{% endif %}
    {{ flatpage.content|render_markdown }}
{% endblock %}
