<!DOCTYPE html>
{% extends "base.html" %}
{% load i18n static %}
{% block title %}
    {% if view.page_title %}{{ view.page_title }}{% else %}{% block head_title %}{% endblock %}{% endif %}
{% endblock title%}

{% block base_body %}
    {% include 'includes/navbar.html'%}
        {% block body %}
            {% block content %}
            {% endblock content %}
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}
    {% include 'includes/footer.html'%}
{% endblock base_body %}
