:root {
    --bs-border-radius: 1rem; /* Adjust border radius */
    --bs-border-radius-sm: 1rem; /* Adjust border radius */
}

.table {
    --bs-table-bg: var(--bs-light-bg-subtle);
}

a {
    text-decoration: none; !important
}

body {
    font-family: 'Cabin', "serif"; !important
}

.navbar-brand {
    font-family: 'Peralta', cursive;
}

.navbar {
    z-index: 1050;
}

.list-group-horizontal .list-group-item {
	display: inline-block;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
 	border-right-width: 0;
}
.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
	border-right-width: 1px;
}

#searchModal .modal-dialog {
  max-width: 85% !important;
}

@media (min-width: 1200px) {
  #searchModal .modal-dialog {
    max-width: 70% !important;
  }
}

@media (max-width: 991.98px) {
  #searchModal .modal-dialog {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  /* Bootstrap applies display:flex to center; we override it */
  #searchModal .modal-dialog.modal-dialog-centered {
    display: block !important;
  }
}
