{% load static i18n %}
{% load menu_tags %}

<footer data-bs-theme="dark">
  <div class="container-fluid bg-dark text-light pt-5 pb-3">
    <div class="container-lg">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h5 class="d-flex align-items-center flex-wrap gap-3">
            <img src="{% static "logo.png" %}" width="30" height="30" alt="logo">
            {{ PROJECT_NAME }}
            {% if social_links %}
              {% for link in social_links %}
                <a class="social-icon-link" href="{{ link.url }}" title="{{ link.title }}" target="_blank" rel="noopener">
                  <i class="{{ link.icon }}"></i>
                </a>
              {% endfor %}
            {% endif %}
            <button id="installBtn" class="btn btn-primary" hidden><i class="fa-solid fa-cloud-arrow-down"></i>
                {% trans "Install App" %}
            </button>
          </h5>
          {% if footer_links %}
            <div class="footer-links d-flex gap-1 mt-3">
              {% for item in footer_links %}
                <a href="{% resolve_url item.url_name item.args item.kwargs %}">
                  {% trans item.label %}
                </a>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <p>{{ PROJECT_DESCRIPTION }}</p>
        </div>
      </div>
    </div>
    <div class="container-lg">
      <div class="text-center mt-2">
        <small>
          {% if developer_link %}
            {{ developer_link.label }}: <a href="{{ developer_link.url }}" target="_blank" rel="noopener noreferrer">{{ developer_link.text }}</a> ({{ developer_link.years }})
          {% endif %}
        </small>
      </div>
    </div>
  </div>
</footer>
