{% load static i18n %}
{% load menu_tags %}

<footer data-bs-theme="dark">
  <div class="container-fluid bg-dark text-light pt-5 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
        {% if footer_links %}
          <h5>Links</h5>
            <ul>
              {% for item in footer_links %}
                <li>
                  <a class="font-weight-light" href="{% resolve_url item.url_name item.args item.kwargs %}">
                    {% trans item.label %}
                  </a>
                </li>
              {% endfor %}
            </ul>
        {% endif %}
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
        {% if social_links %}
          <h5>Social Links</h5>
          <div class="d-grid gap-2">
            {% for link in social_links %}
              <a class="btn btn-social {{ link.btn_class }}" href="{{ link.url }}" target="_blank" rel="noopener">
                <i class="{{ link.icon }}"></i> {{ link.title }}
              </a>
            {% endfor %}
          </div>
        {% endif %}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h5>
            <img src="{% static "logo.png" %}" width="30" height="30" alt="logo">
            {{ PROJECT_NAME }}
            <button id="installBtn" class="btn btn-primary ms-2" hidden><i class="fa-solid fa-cloud-arrow-down"></i>
                {% trans "Install App" %}
            </button>
          </h5>
          <p>{{ PROJECT_DESCRIPTION }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
