{% load i18n %}
{% load menu_tags %}
<header data-bs-theme="dark">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">{{ PROJECT_NAME }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% for menu in navbar_menus %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                    {% trans menu.title %}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    {% for item in menu.items %}
                      <a class="dropdown-item"
                         href="{% resolve_url item.url_name item.args item.kwargs %}">
                        {% trans item.label %}
                      </a>
                    {% endfor %}
                  </div>
                </li>
              {% endfor %}
            </ul>
          <div class="d-lg-flex gap-2 col-lg-3 justify-content-lg-end justify-content-center text-nowrap">
                <form class="d-flex" method="post" action="{% url 'set_language' %}">
                    {% csrf_token %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_current_language as LANGUAGE_CODE %}
                    <select name="language" onchange="this.form.submit()">
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for lang in languages %}
                            <option {% if lang.code == LANGUAGE_CODE %}selected{% endif %}
                                    value="{{ lang.code }}">{{ lang.name_local }}</option>
                        {% endfor %}
                    </select>
                </form>
                {% if request.user.is_authenticated %}
                    {% url 'account_email' as email_url_ %}
    <li class="nav-item dropdown d-flex justify-content-center" style="list-style: none;">
        <a class="nav-link dropdown-toggle text-light" href="#" id="userMenuRight" data-bs-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            {{ user.username }}
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuRight">
        <li>
            {% if email_url_ %}
                <a href="{% if email_url_ %}{{ email_url_ }}{% endif %}"
                   class="dropdown-item">{% trans "Change Email"%}</a>
            {% endif %}
        </li>
            <li>
                <a class="dropdown-item" href="{% url 'account_change_password' %}">{% trans "Change Password"%}</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            {% if user.is_staff %}
            <li>
                <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans "Admin Page" %}</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            {% endif %}
            <li>
                <form action="{% url 'account_logout' %}" method="post">
                    {% csrf_token %}
                    <button class="dropdown-item" type="submit">{% trans "Sign Out" %}</button>
                </form>
            </li>
        </ul>
    </li>
                {% else %}
                    <a href="{% url 'account_login' %}" class="btn btn-outline-light">{% trans "Sign In" %}</a>
                    {% url 'account_signup' as signup_url_ %}
                    {% if signup_url_ %}
                        <a href="{{ signup_url_ }}" class="btn btn-success">{% trans "Sign Up" %}</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</nav>
</header>
